NET CLK LOC = T8 | TNM_NET = sys_clk_pin | IOSTANDARD = "LVCMOS33";
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000KHz;

NET RST_n LOC = L3 | IOSTANDARD = "LVCMOS33";

NET Row_Scan_Sig[7] LOC = C6 | IOSTANDARD = "LVCMOS33";
NET Row_Scan_Sig[6] LOC = D5 | IOSTANDARD = "LVCMOS33";
NET Row_Scan_Sig[5] LOC = E7 | IOSTANDARD = "LVCMOS33";
NET Row_Scan_Sig[4] LOC = D6 | IOSTANDARD = "LVCMOS33";
NET Row_Scan_Sig[3] LOC = F7 | IOSTANDARD = "LVCMOS33";
NET Row_Scan_Sig[2] LOC = C5 | IOSTANDARD = "LVCMOS33";
NET Row_Scan_Sig[1] LOC = E6 | IOSTANDARD = "LVCMOS33";
NET Row_Scan_Sig[0] LOC = C7 | IOSTANDARD = "LVCMOS33";


NET Column_Scan_Sig[5] LOC = D9  | IOSTANDARD = "LVCMOS33";
NET Column_Scan_Sig[4] LOC = E10 | IOSTANDARD = "LVCMOS33";
NET Column_Scan_Sig[3] LOC = F10 | IOSTANDARD = "LVCMOS33";
NET Column_Scan_Sig[2] LOC = F9  | IOSTANDARD = "LVCMOS33";
NET Column_Scan_Sig[1] LOC = E8  | IOSTANDARD = "LVCMOS33";
NET Column_Scan_Sig[0] LOC = D8  | IOSTANDARD = "LVCMOS33";



NET data_in[3] LOC = C3 | IOSTANDARD = "LVCMOS33";
NET data_in[2] LOC = D3 | IOSTANDARD = "LVCMOS33";
NET data_in[1] LOC = E4 | IOSTANDARD = "LVCMOS33";
NET data_in[0] LOC = E3 | IOSTANDARD = "LVCMOS33";


